<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible"
        content="IE=edge; IE=11; IE=EmulateIE11; IE=10; IE=EmulateIE10; IE=9; IE=EmulateIE9; IE=8; IE=EmulateIE8; IE=7; IE=EmulateIE7; IE=5; chrome=1; safari=1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700">
    <title>Go cycle</title>
</head>
<link rel="stylesheet" href="/css/dashboard.css">

<body>
    <div class="container">
        <header class="header">
            <img src="/images/logo.png" class="header-logo">
            <div class="header-middle">
                middle
            </div>
            <div class="header-end">
                Tempo total:<br>
                <strong>00:23:40</strong>
            </div>
        </header>
        <div class="content">
            <% bikes.forEach((bike, index) =>{ %>
            <article class="user" id="bike<%-bike['serial']%>">
                <header class="user__header">
                    <img src="images/user.png" alt="Default user" class="header__picture">
                    <div class="header__name">Jhon doe</div>
                    <div class="header__bike">00</div>
                </header>
                <div class="user__performance">
                    100%
                </div>
                <footer class="user__footer">
                    <div class="footer__info">
                        <span>000</span>
                        <span class="info__label">rpm</span>
                    </div>
                    <div class="footer__info">
                        <span>000</span>
                        <span class="info__label">kcal</span>
                    </div>
                    <div class="footer__info">
                        <span>000</span>
                        <span class="info__label">força</span>
                    </div>
                </footer>
            </article>
            <% }) %>
        </div>
    </div>
</body>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/client.js"></script>

</html>