@import url('./main.css');

.rank-list {
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  list-style: none;
  height: 100%;
}

.rank {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  background: rgba(133, 133, 133, 0.2);
  border-bottom: 3px solid orange;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);

  border-radius: 10px;
  padding: 5px 10px;
  width: calc(100% / 3 - 10px);
  margin: 5px 5px 10px 5px;
  color: white;

  text-shadow: 2px 2px black;
}

.rank__pos {
  flex: 0.5;
  font-weight: bold;
  margin-right: 10px;
  max-width: 40px;
}

.rank__picture {
  flex: 0.5;
  margin-right: 10px;
  border-radius: 50%;
  height: 40px;
  max-width: 40px;
  object-fit: cover;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 1);
}

.rank__pos,
.rank__name,
.rank__infor {
  font-size: 1.8rem;
  font-weight: bold;
}

.rank__name {
  flex: 3;
}

.rank__infor {
  flex: 5;
  justify-self: flex-end;
  text-align: right;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.rank__infor div {
  padding-right: 10px;
  border-right: 2px solid white;
}

.rank__infor span {
  display: block;
  font-size: 1.2rem;
}

.rank__infor div:last-child {
  border: 0;
}
