<article class="user-square square-<%-position%>">
  <header class="user__header">
    <img src="/images/user.png" alt="Default user" class="header__picture" />
    <div class="header__name">--</div>
    <div class="header__bike"><%-position%></div>
    </header>
    <div class="user__performance featured">
      --
    </div>
    <footer class="user__footer">
      <div class="footer__info">
        <span class="rpm">--</span>
        <span class="info__label">Rpm</span>
      </div>
      <div class="footer__info">
        <span class="march">--</span>
        <span class="info__label">Carga</span>
      </div>
      <div class="footer__info">
        <span class="kcal">--</span>
        <span class="info__label">Kcal</span>
      </div>
      <div class="footer__info">
        <span class="potency">--</span>
        <span class="info__label">Watts</span>
      </div>
    </footer>
  </article>
