<article class="user square-<%-position%>">
    <header class="user__header">
        <img src="/images/user.png" alt="Default user"
            class="header__picture">
        <div class="header__name">Sem usuário</div>
        <div class="header__bike"><%-position%></div>
        </header>
        <div class="user__performance featured">
            0%
        </div>
        <footer class="user__footer">
            <div class="footer__info">
                <span class="rpm">000</span>
                <span class="info__label">rpm</span>
            </div>
            <div class="footer__info">
                <span class="march">000</span>
                <span class="info__label">marcha</span>
            </div>
            <div class="footer__info">
                <span class="kcal">000</span>
                <span class="info__label">kcal</span>
            </div>
            <div class="footer__info">
                <span class="potency">000</span>
                <span class="info__label">potência</span>
            </div>
        </footer>
    </article>